body {
    margin: 2%;
}     

.alerts {  
    margin-top: 50px;              
    padding: 5px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}
                        
.intro {
    text-align: center;
    font-family: Arial, sans-serif;   
    margin: 3%;
}

section {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.summary {
    color: white;
    background-color: #282828;
    padding: 5px;
    margin: 3%;
    box-sizing: border-box;
}

.summary:hover {
    background-color: white;
    color: black;
}

.summary > a:hover {
    color: black;
}

span {
    color: red;
}       

footer {
    background-color: rgb(43, 145, 128);
    }
